<div id="loading" ng-hide="ready">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div id="testcontainer" ng-init="start()" ng-show="ready">
  <form id="test" ng-submit="submit()">
    <label id="firstword" for="blank">{{wordpairs[curPair][0]}}</label>
    <input id="blank" type="text" ng-model="input" autofocus size="10">
    <input type="submit" value="Submit">
  </form>
  <div class="loginerror" ng-show="error">{{error}}</div>
  <div class="curword">{{curPair+1}} of {{wordpairs.length}}</div>
</div>
