<div class="instructions" ng-init="checkLoggedIn()">
  <p><b>You're done with the memorization section.</b>

  <p>Praesent vitae ornare leo. Phasellus imperdiet mauris ac mi ultrices
  venenatis. Morbi efficitur elementum justo, sit amet tempor eros porta a.
  Maecenas ut ultrices eros, ut pellentesque nibh. Etiam egestas mattis nibh,
  eu feugiat orci pellentesque sit amet. Curabitur ac mi purus. Nulla eu
  pulvinar metus, a maximus velit. Suspendisse efficitur ex vitae lacus
  efficitur, id rhoncus enim aliquet. Aliquam sit amet velit id est posuere
  ullamcorper eget id lorem. Donec in nisl vel elit varius ornare. Duis
  ultricies nisi non libero pulvinar tristique. Nunc ac diam ultrices,
  ultricies metus in, vehicula lorem.

  <div style="text-align: center"><button ng-click="proceed()">Proceed</button></div>
</div>
