/* papt css stylesheet */
body {
  font-family: helvetica, sans-serif;
}
#error {
  position: absolute;
  left: 50%;
  width: 200px;
  background-color: red;
  color: white;
  font-weight: bold;
}

#reportbrowser {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  scroll: auto;
  border-right: 1px solid black;
  background: #cccccc;
}

#reportbrowser li {
  cursor: pointer;
}
#reportbrowser li:hover {
  color: white;
}

#reportviewer {
  margin-top: 1em;
  position: absolute;
  left: 220px;
}

#summaryviewer {
  margin-top: 1em;
  position: absolute;
  left: 220px;
}

#summaryviewer input[type="radio"] {
  display:none; 
}

#summaryviewer label {
  display:inline-block;
  background-color:#ddd;
  padding:4px 11px;
  box-shadow: 1px 1px 2px 1px #888888;
  border-radius: 10px 10px 10px 10px;
}

#summaryviewer input[type="radio"]:checked + label { 
  background-color:#9099f0;
  box-shadow: 1px 1px 2px 1px #888888 inset;
}

#summaryviewer th {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  color: white;
  background: black;
}

#summaryviewer td {
  padding-left: 5px;
  padding-right: 5px;
}

.summary {
  float: left;
  width: 300px;
}
#drilldown {
  position: fixed;
  left: 580px;
  height: 80%;
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
#drilldown table {
  width: 100%;
  margin-right: 10px;
}
