/* papt css stylesheet */
body {
  font-family: helvetica, sans-serif;
}
#error {
  position: absolute;
  left: 50%;
  width: 200px;
  background-color: red;
  color: white;
  font-weight: bold;
}

#reportbrowser {
  position: fixed;
  width: 300;
  height: 100%;
  top: 0;
  left: 0;
  scroll: auto;
  border-right: 1px solid black;
  background: #cccccc;
}

#reportbrowser li {
  cursor: pointer;
}
#reportbrowser li:hover {
  color: white;
}

#reportviewer {
  border: 1px solid red;
  float: right;
}
