User: {{user.name}}<br>
Group: {{user.group}}<br>
Login Time: {{user.time_created}}<br>
Superpower: {{user.superpower}}<br>
Test Time: {{result.time_taken}}<br>

<table border="" style="{{style['table']}}">
  <th colspan="2" center>Summary Results</th>
  <tr>
    <td>Total NT-Imm</td>
    <td>{{result.sum_nt_imm}}</td>
  </tr>

  <tr>
    <td>Total DM-Imm</td>
    <td>{{result.sum_dm_imm}}</td>
  </tr>

  <tr>
    <td>Total NT-Del</td>
    <td>{{result.sum_nt_del}}</td>
  </tr>

  <tr>
    <td>Total DM-Del</td>
    <td>{{result.sum_dm_del}}</td>
  </tr>
</table>

<br>

<table border="" style="{{style['table']}}">
  <tr>
    <th>Test number</th>
    <th>Category</th>
    <th>Correct answer</th>
    <th>User answer</th>
    <th>Correct</th>
  </tr>
  {% for answer in result.answers %}
  <tr style="background-color: {{(answer.correct and '#ccffcc') or '#ffcccc'}}" title="no">
    <td>{{answer.test_flavor}}</td>
    <td>{{answer.category}}</td>
    <td>{{answer.expected}}</td>
    <td>{{answer.got}}</td>
    <td style="background-color: {{(answer.correct and '#ccffcc') or '#ffcccc'}}">
        {{answer.correct}}</td>
  </tr>
  {% endfor %}
</table>
